---
---
<style>
    header {
        display: flex;
        padding: 1em 4em;
        gap: 3em;

        justify-content: center;
        align-items: center;
    }
    img {
        width: 5em;
    }
</style>

<header>
    <a aria-label="Go to home page" href="/"><img src="hogar.svg" alt="home icon"></a>
    <div>
        <h1>Domain-Driven Designers</h1>
        <p>Where awesome Domain-Driven Designers are made</p>
        <a href="#">Submit</a>
    </div>
    { Astro.url.pathname === '/' && <div id="logStatus"/> }
</header>

<script>
    function getCookie(name: string): string | null {
        const cookies = document.cookie.split(';')
        for (const cookie of cookies) {
            const [cookieName, value] = cookie.trim().split('=')
            if (cookieName === name) {
                return decodeURIComponent(value)
            }
        }
        return null
    }
    function createElFromString(str: string): HTMLElement {
        const parser = new DOMParser()
        return parser.parseFromString(str, 'text/html').body.firstChild! as HTMLElement
    }
    const logStatus = document.querySelector('#logStatus')

    if (logStatus) {
        const username = getCookie('username')
        let newEl
    
        if (username) {
            newEl = createElFromString(`
                <div>
                    <p>${username}</p>
                    <button>Logout</button>
                </div>`
            )
        } else { 
            newEl = createElFromString(`
                <a aria-label="Go to registration page" href="/join">Join</a>`
            )
            
            newEl.style.color = 'white'
            newEl.style.padding = '0.4em 0.5em 0.4em 5em'
            newEl.style.backgroundColor = 'black'
        }

        logStatus?.replaceWith(newEl!)
    }

    const logOutBtn = document.querySelector('button')

    if (logOutBtn) {
        logOutBtn.addEventListener('click', () => {
            document.cookie = `username=`
        })
    }
</script>