---
---
<style>
    header {
        display: flex;
        padding: 1em 4em;
        gap: 3em;

        justify-content: center;
        align-items: center;
    }
    img {
        width: 5em;
    }
    .join {
        color: white;
        padding: 0.4em 0.5em 0.4em 5em;
        background-color: black;
    }
</style>

<header>
    <a aria-label="Go to home page" href="/">
        <img src="hogar.svg" alt="home icon">
    </a>
    <div>
        <h1>Domain-Driven Designers</h1>
        <p>Where awesome Domain-Driven Designers are made</p>
        <a href="#">Submit</a>
    </div>
    {
        Astro.url.pathname === '/' && 
        <a class="join hide" aria-label="Go to registration page" href="/join">
            Join
        </a>
    }
    
</header>

<script>
    function getCookie(name: string): string | null {
        const cookies = document.cookie.split(';')
        for (const cookie of cookies) {
            const [cookieName, value] = cookie.trim().split('=')
            if (cookieName === name) {
                return decodeURIComponent(value)
            }
        }
        return null
    }
    function clearCookie(name: string): void {
        document.cookie = `${name}=`
    }
    function createElFromString(str: string): HTMLElement {
        const parser = new DOMParser()
        return parser.parseFromString(str, 'text/html').body.firstChild! as HTMLElement
    }
    
    const joinLink = document.querySelector('a.join')

    if (joinLink) {
        const username = getCookie('username')
    
        if (!username) {
            joinLink.classList.remove('hide')
        } else {
            const logoutBtn = createElFromString(`
                <div>
                    <p>${username}</p>
                    <button>Logout</button>
                </div>`
            )
    
            joinLink?.replaceWith(logoutBtn!)
        }
    }

    const logoutBtn = document.querySelector('button')

    logoutBtn && logoutBtn.addEventListener('click', () => clearCookie('username')) // TODO: replace with setCookie and use a short time to expire
</script>